@model Entity.Concrate.Writer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/Themes/colorlib-regform-4/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Themes/colorlib-regform-4/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Themes/colorlib-regform-4/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Themes/colorlib-regform-4/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Themes/colorlib-regform-4/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Kayıt Ol</h2>
                    @using (Html.BeginForm("WriterAdd", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        <form method="POST" enctype="multipart/form-data">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Adınız</label>
                                        <input class="input--style-4" type="text" name="Name" required>
                                        <label class="text text-danger">@Html.ValidationMessageFor(error => error.Name)</label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Soyadınız</label>
                                        <input class="input--style-4" type="text" name="SurName" required>
                                        <label class="text text-danger ">@Html.ValidationMessageFor(error => error.Surname)</label>

                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Email Adresiniz</label>
                                        <input class="input--style-4" type="email" name="Mail" required>
                                        <label class="text text-danger">@Html.ValidationMessageFor(error => error.Mail)</label>

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Şifreniz</label>
                                        <input class="input--style-4" type="password" name="Password" required>
                                        <label class="text text-danger">@Html.ValidationMessageFor(error => error.Password)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Resminiz</label>
                                        <input class="input--style-4" type="file" name="Image" required>
                                        <label class="text text-danger">@Html.ValidationMessageFor(error => error.Password)</label>

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Hakkında</label>
                                        <input class="input--style-4" type="text" name="About" required>
                                        <label class="text text-danger">@Html.ValidationMessageFor(error => error.About)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Kayıt Ol</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/Themes/colorlib-regform-4/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Themes/colorlib-regform-4/vendor/select2/select2.min.js"></script>
    <script src="~/Themes/colorlib-regform-4/vendor/datepicker/moment.min.js"></script>
    <script src="~/Themes/colorlib-regform-4/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/Themes/colorlib-regform-4/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->