@using Entity.Dtos
@model List<HeadingDTO>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<!DOCTYPE html>
<head>
    <script src="lib/jquery-2.0.3.js"></script>
    <script src="source/jquery.swipebox.js"></script>
    <link rel="stylesheet" href="source/swipebox.css">
    <link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
</head>
<html>

<body class="hold-transition sidebar-mini">
    <br />
    <!-- Content Header (Page header) -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 style="margin-top:10px;" class="card-title">Başlık İşlemleri</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Başlık Adı
                            </th>
                            <th>
                                Oluşturan Yazar
                            </th>
                            <th>
                                Kategori
                            </th>
                            <th>
                                Durum
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @item.Name
                    <br />
                    <small>@item.Date.ToShortDateString()</small>
                </td>
                <td>
                    @item.WriterName @item.WriterSurname
                    <img alt="image" class="table-avatar" style="height:100px; width:90px" src="~/Images/@item.WriterImage">
                </td>
                <td>
                    <span class="@item.BadgeStyle">@item.CategoryName</span>
                </td>

                <td class="statusValue">
                    @if (item.Status == true)
                    {
    <span class="badge badge-success">Aktif</span>}

else
{
<span class="badge badge-danger">Pasif</span>}

                </td>
                <td class="project-actions text-right">
                    <a class="btn btn-primary btn-sm" href="~/Content/ContentByHeading/@item.Id">
                        <i class="fas fa-folder">
                        </i>
                        Yazılar
                    </a>
                    <a class="btn btn-info btn-sm" href="~/Heading/GetByHeading/@item.Id">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Düzenle
                    </a>
                    @if (item.Status == true)
                    {
    <a class="btn btn-danger btn-sm" href="~/Heading/Delete/@item.Id">
        <i class="fas fa-times">
        </i>
        Pasifleştir
    </a> }
else
{
<a class="btn btn-success btn-sm" href="~/Heading/Delete/@item.Id">
    <i class="fas fa-check-circle">
    </i>
    Aktif Et
</a>}

                </td>
            </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
